.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#resume-sheet{
    margin: 5% auto;
    padding: 0;
    width: 21cm;
    height: 30cm;
    /* border: 1px solid; */
    box-shadow: 2px 4px 13px -2px;
    border-radius: 20px;
}

#personal-details{
    width: auto;
    height: 6cm;
}

.profile-pic{
    float: right;
    margin-top:10mm;
    margin-right: 15mm;
}

img {
    border-radius:100%;
    border:3px solid #0080ff
}

.contact-details{
    display: block;
    position: absolute;
    margin: 12mm 12mm;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5px;
}

#sub-name{
    color:#0080ff;
}

#phone, #email{
    font-size: 16px;
    line-height: 2.5;
    transition: .4s;
}

#phone > span:hover, #email > span:hover{
   color:purple;
   cursor: pointer;
   font-size: 20px;
   transition: font-size .4s;
   text-transform: capitalize;
}

#email{
    text-transform: lowercase;
}

.title{
    margin: 6mm 12mm;
    display: inline-block;
    text-transform: uppercase;
    color:#0080ff;
    height: 8mm;
    padding: 0 2px;
    border-bottom: 3px solid #000;
}

.sub-title{
    margin-top: 5mm;
    text-transform: capitalize;
    color: #000;
    width: 105%;
}

.fa-solid{
    color: #0080ff;
}

hr{
    border:1px dotted;
}

ul{
    list-style: square;
}

.job-description > ul{
    margin-top: 8px;
    font-size: 15px;
}

.progress-bar{
    width:120px;
    height:20px;
    margin: 5px 10px;
    background-color:#f2f2f2;
    border-radius:18px;
}

.skill-name{
    position: absolute;
    width: 48px;
    height: 15px;
    background: linear-gradient(to right, #0099ff,#99d6ff);
    border-radius: 18px;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: normal;
    /* animation-name: mysql;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    box-shadow: inset 0 0 3px #0080ff;
    font-weight: bold;
}

.skill-icon{
    margin: 7px 5px;
    font-size: 20px;
}

.skill-name > p{
    color:#000;
    margin-top: -2px;
}